<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>According</title>
    <link rel="stylesheet" href="../../styles/according.css">
</head>
<body>
    <div class="acording-con">
        <div class="according-title">
            <h1>Frequently Asked Questions</h1>
            <p>Here are some of frequently asked questions</p>
        </div>
        <div class="questions-con">
            <div class="question">
                <div class="question-title">
                    Lorem, ipsum dolor?
                    <button id="btn1" class="btn"><img src="#" alt="#"></button>
                </div>
                <div class="question-object" id="quesbtn1">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed hic reiciendis dolores non.</span>
                </div>
            </div>
            <div class="question" >
                <div class="question-title">
                    Lorem, ipsum dolor?
                    <button id="btn2" class="btn"><img src="#" alt="#" ></button>
                </div>
                <div class="question-object" id="quesbtn2">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis architecto labore laudantium velit fuga vitae dicta ducimus?</span>
                </div>
            </div>
            <div class="question">
                <div class="question-title">
                    Lorem, ipsum dolor?
                    <button id="btn3" class="btn"><img src="#" alt="#"></button>
                </div>
                <div class="question-object" id="quesbtn3">
                    <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</span>
                </div>
            </div>
             <div class="question" >
                <div class="question-title">
                    Lorem, ipsum dolor?
                    <button id="btn4" class="btn"><img src="#" alt="#"></button>
                </div>
                <div class="question-object" id="quesbtn4">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate eaque excepturi dolorem nam quidem. Quasi repellendus doloribus impedit dolorem delectus natus aliquam velit.</span>
                </div>
            </div>
            <div class="question" >
                <div class="question-title">
                    Lorem, ipsum dolor?
                    <button id="btn5" class="btn"><img src="#" alt="#"></button>
                </div>
                <div class="question-object" id="quesbtn5">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio exercitationem possimus minus ipsam?</span>
                </div>
            </div>
            <div class="question">
                <div class="question-title">
                    Lorem, ipsum dolor?
                    <button id="btn6" class="btn"><img src="#" alt="#"></button>
                </div>
                <div class="question-object" id="quesbtn6">
                    <span>Lorem ipsum dolor sit amet consectetur.</span>
                </div>
            </div>
        </div>
    </div>

    <script src="../../script/acoording.js"></script>
</body>
</html>