<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SimpleTabs</title>
    <link rel="stylesheet" href="../../styles/simpletabs.css" />
  </head>
  <body>
    <div class="tabs-container">
      <div class="tabs">
        <div class="tab" id="tab1"><p>First Tab</p></div>
        <div class="tab" id="tab2"><p>Second Tab</p></div>
        <div class="tab" id="tab3"><p>Third Tab</p></div>
        <div class="tab" id="tab4"><p>Fourth Tab</p></div>
      </div>
      <div class="tab-content" id="contenttab1">
        <span
          >Clicking each tab shuld hide the content of the other tab and show
          the content of clicked tab. By default, enable the first tab.</span
        >
        <div><span>First Tab content to be displayed here</span></div>
        <span
          >And some dummy content or just add a simple text showing the
          tab</span
        >
      </div>
      <div class="tab-content" id="contenttab2">
        <span
          >Clicking each tab shuld hide the content of the other tab and show
          the content of clicked tab. By default, enable the first tab.</span
        >
        <div><span>Secont Tab content to be displayed here</span></div>
        <span
          >And some dummy content or just add a simple text showing the
          tab</span
        >
      </div>
      <div class="tab-content" id="contenttab3">
        <span
          >Clicking each tab shuld hide the content of the other tab and show
          the content of clicked tab. By default, enable the first tab.</span
        >
        <div><span>Thrid Tab content to be displayed here</span></div>
        <span
          >And some dummy content or just add a simple text showing the
          tab</span
        >
      </div>
      <div class="tab-content" id="contenttab4">
        <span
          >Clicking each tab shuld hide the content of the other tab and show
          the content of clicked tab. By default, enable the first tab.</span
        >
        <div><span>Four Tab content to be displayed here</span></div>
        <span
          >And some dummy content or just add a simple text showing the
          tab</span
        >
      </div>
    </div>
    <script src="../../script/script.js"></script>
  </body>
</html>
