
.cookie-consent {
    background-color: var(--color-main);
    border-radius: 12px;
    width: 20em;
    padding: 2vh;
    z-index: 1;
    position: absolute;
    bottom: 2%;
    right: 2%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

    .close-btn {
        background-color: var(--color-primal);
        border: 0;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        font-size: 1.6em;
        position: absolute;
        right: 4%;
        transition: 0.2s;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .close-btn:hover {
        transform: scale(1.1);
    }
    .close-btn:active {
        background-color: var(--color-primal-active);
        transform: scale(0.9);
    }

    .cookie-text {
        font-family: var(--font-title);
        font-weight: 500;
    }
    .cookie-btns {
        display: flex;
        justify-content: space-around;


        button {
            border: 0;
            background-color: var(--color-primal);
            padding: 3%;
            border-radius: 8px;
            font-family: var(--color-text-primal);
            font-weight: 720;
            transition: 0.2s;
        }
        button:hover {
            transform: scale(1.1);
        }
        button:active {
            background-color: var(--color-primal-active);
            transform: scale(0.9);
        }
    }

}

