
:root {
    --color-main: #F5F5F5;
    --color-primal: #004BFF;
    --color-text-main: #000000;
    --color-text-primal: #666666;
    --font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-title: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-bar {
    display: flex;
    

    .logo {
        margin-left: 2%;
        color: var(--color-primal);
    }

    .nav-links {
        display: flex;
        justify-content: flex-end;
    

        .nav-item {
            padding: 0 2.5% 0 2.5%;
            display: flex;
            align-items: center;
        

            a {
                text-decoration: none;
                color: var(--color-primal);
                font-weight: 500;
                font-size: large;
                transition: 0.2s;
            }
            a:hover {
                transform: scale(1.1);
            }
        }
        .tooltip-text {
            display: none;
        }
    }
}